@font-face {
    font-family: Honeyflower;
    src:  url('./Honeyflower-Regular.ttf') format('ttf'),
          url('./Honeyflower-Regular.woff') format('woff'),
          url('./Honeyflower-Regular.woff2') format('woff2');
}

.hello {
    color: dodgerblue;
    background: url('./helmet-icon.png');
    font-family: 'Honeyflower';
    font-size: 150px;
}